

* {
    box-sizing: border-box;
}

.box {
    width: 300px;
    background-color: #dedede;

    padding: 20px;
    border: 2px solid #000;

    margin: 30px;
}

.inline-test{
    background-color: #ffff00;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
}
